{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
	About-Us | LiteMoney {% endblock title %}
{% block content %}

<!--Jumbotron starts here-->
<div class="aboutjumbo">
	<div class="container">
		
	</div>
</div>
<!--Jumbotron ends here-->

<!--Breif explanation of LiteMoney starts-->

<div class="container">
<div class="aboutexp">
<h1>About LiteMoney</h1>
<p>LiteMoney is an online platform and wallet that manages your finance with ease and maximizes accountability of funds. LiteMoney was created under the idea that the masses need to be rewarded for their everyday struggle.</p>
</div>
</div>

<!--Breif explanation of LiteMoney ends-->

<!--Our Vision and Mission statement starts here-->

<div class="aboutcontent">
<div class="container">
<h1>Vision Statement</h1>
<p>
	<li>To expand and diversify beyond our current scope.</li><br>
	<li>To ensure that our platform is always at the top of its game.</li><br>
	<li>To ensure the way online payments are handled are at its peak, by making it easy &amp; secure simultaneously.</li><br>
	<li>To ensure easy and friendly means of transfer for our customers.</li><br>
	<li>To provide an affordable medium of finance.</li><br>
	<li>To improve cashless policy in the society.</li><br>
</p>

<br><br>

<h1>Mission Statement</h1>
<p>
	<li>To mobilize ourselves by increasing our methodologies to make sure we move one-step further to our Vision everyday.</li><br>
	<li>To break the barriers we face in our economic environment.</li><br>
	<li>To ensure services are easily accessed by our customers.</li><br>

</p>
</div>
</div>
<br><br><br><br>
<!--Our Vision and Mission statement ends here-->

<!--About Us section ends here-->

{% endblock content  %}