{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
	LiteMoney | About-Us {% endblock title %}
{% block content %}

<!--Jumbotron starts here-->
<div class="aboutjumbo">s
	<div class="container">
		
	</div>
</div>
<!--Jumbotron ends here-->

<!--Breif explanation of LiteMoney starts-->

<div class="container">
<div class="aboutexp">
<h1>About LiteMoney</h1>
<p>LiteMoney is an online platform and wallet that manages your finance with ease and maximizes accountability of funds. LiteMoney was created under the idea that the masses need to be rewarded for their everyday struggle in the economy.</p>
</div>
</div>

<!--Breif explanation of LiteMoney ends-->

<!--Our Vision and Mission statement starts here-->

<div class="aboutcontent">
<div class="container">
<h1>Vision Statement</h1>
<p>
	<li>To expand and diversify beyond our current scope.</li><br>
	<li>To ensure that our platform is always at the top of its game.</li><br>
	<li>To have our payment service on every online marketing platform.</li><br>
	<li>To ensure the way online payments are handle are at its peak, by making it easy &amp; secure simulttaneously.</li>
</p>

<br><br>

<h1>Mission Statement</h1>
<p>
	<li>To mobilize ourselves by increasing our methodologies to make sure we move one-step further to our Vsion everyday.</li><br>
	<li>To break the barriers we face in our economic environment today.</li><br>
	<li>To ensure services are easily accessed by our customers.</li><br>

</p>
</div>
</div>
<!--Our Vision and Mission statement ends here-->

<!--About Us section ends here-->

{% endblock content  %}