{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
	FAQ | LiteMoney {% endblock title %}
{% block content %}
<!--Jumbotron starts here-->

<div class="faqjumbo">
	<div class="container">
		<h1>FREQUENTLY ASKED QUESTIONS</h1>
	</div>
</div>

<!--Jumbotron ends here-->

<!--Here we handle the questions and answers-->
<div class="page-frame">
<div class="container">
<div class="qna">
	
	<h2>Q: What is LiteMoney?</h2>
	<p>A: LiteMoney is an online platform that is created to reduce the stress we face in our everyday economic activities.</p>

	<h2>Q: How it Works?</h2>
	<p>A: First you have to get the app on your smartphone. After doing that you create an account and link a debit/credit card of your choice.</p>

	<h2>Q: How do I link a card?</h2>
	<p>A: The LiteMoney team has made it easy for you to link your card with your account. Simply take out your card and locate the plus button on your app. After tapping the plus button you'll notice that your camera has been activated. Hold the card in front of the camera and position it such that the edges of the card match those on your screen. And that's it, the app automatically scans the card details and links it to your account.</p>

	<h2>Q: How to send money?</h2>
	<p>A: Scroll through your contact list and select the person you want to sedn the money to.</p>

</div>
</div>
</div>
<br><br><br><br>
<!--We stop handling the questions and answers here-->

{% endblock content  %}

