{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
	LiteMoney | FAQ {% endblock title %}
{% block content %}

	<!--Jumbotron starts here-->

<div class="faqjumbo">
	<div class="container">
		<h1>FREQUENTLY ASKED QUESTIONS</h1>
	</div>
</div>


<!--Jumbotron ends here-->

<!--Here we handle the questions and answers-->
<div class="container">
<div class="qna">
	<h2>What is LiteMoney?</h2>
	<p>LiteMoney is an online wallet which deals with online transactions of any kind such as transfer recieve &amp; withdrawal of funds</p>

	<h2>How it Works?</h2>
	<p>Once you have registered &amp; you account has been verified. You are expected to purchase a certain value of LMU(LiteMoney Unit) which can be transferred from one user to another with a LiteMoney account. This LMU you have in you account can be used to purchase recharg cards &amp; other items from our affiliate stores.</p>

	<h2>What is LMU?</h2>
	<p>LMU stands for LiteMoney Unit &amp; it is the purchasing power used within the LiteMoney Platform/Wallet</p>

	<h2>How can you purchase LMU?</h2>
	<p>You can purchase LMU online simply online via your debit or credit card.</p>

	<h2>Can you send &amp; recieve LMU?</h2>
	<p>Yes you can. LMU can be to an account holder by using the unique dentifier attached to his/her account.</p>

	<h2>What is LMC?</h2>
	<p>LiteMoney Credits or LMC for short are reward points that are awarded to a profile each time a deposit is made. These poits are awarded based on the value of the deposits.</p>
</div>
</div>

<!--We stop handling the questions and answers here-->

{% endblock content  %}

