{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}  litemoney | News {% endblock title %}
{% block content  %}
		{% for post in news %}
		<br>
		<br>
		<br>
		<div class="container">
			<h1 class="newsheadline"><a href="{% url 'news_details' pk=post.pk %}">{{ post.topic }}</a></h1>
			<p> {{ post.article|truncatewords:30 }} | <small> by {{ post.author }} on {{ post.created_date }} </small></p>
			<hr>
		</div>
		{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ news.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ news.number }} of {{ news.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ news.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

	<br><br>
{% endblock content %}
