/*This part handles the navigation section*/
.nav
{
	height:60px;
	background:#fff;
	box-shadow:0 1px 6px rgba(0,0,0,0.35);
	left:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:100;
}

.nav ul
{

	padding: 20px;
}

.nav ul li
{
	padding-top: 15px;
	padding-left: 15px;
	list-style-type: none;
	text-transform: uppercase;
	display: inline;
}

.nav ul li a
{
	color: #333;
	font-size: 20px;
	font-family: "Trebuchet MS";
}

.header-logo
{
	font-size: 20px;
	font-family: "Comic Sans MS";
}

/*body
{
		background-color: #ccc;
}*/
/*Navigation styling ends here*/

/*Main Jumbotron Styling starts here*/

.jumbo1
{
	text-align: center;
	background-image: url(img/lend1.1.jpg);
	height: 500px;
	background-size: cover;
	font-family: sans-serif;
	color: #fff;
}
.jumbo1 h1 {
	padding-top: 40px;
}

.jumbo1:hover
{
	background-size: cover;
	background-image: url(img/lend1.jpg);
	color: #333;
	transition: all .5s ease-in;
}

.joinbtn
{
	border-radius: 8px;
	border: 2px bold #fff;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 50px;
	font-family: 'Alegreya Sans', "sans-serif:300";
	padding-top:20px;
	border-color: #fff
}

.joinbtn a {
	color: #fff;
  	margin-right: 30px;
  	padding: 8px 18px;
  	text-decoration: none;
  	border: 1px solid #204156;

}

.joinbtn a:hover 
{
	color: #333;
  	position: relative;
  	bottom: 2px;
}

.joinbtn:hover
{

}
/*Main Jumbotron styling ends here*/

/*We are about to format the thumbnails*/
.thumb1
{
	text-align: center;
	background-size: cover;
	background-image: url(img/Photo1.jpg);
	height: 250px;
	color: #fff;
}

.thumb1 p
{
	padding-top: 10px;
	font-size: 20px;
}
.thumb1 h2{
	padding-top: 5px;
}

.thumb2
{
	text-align: center;
	background-size: cover;
	background-image: url(img/lmc.png);
	height: 250px;
	color: #0000;
}
.thumb2 h2{
	padding-top: 5px;
}

.thumb2 p
{
	padding-top: 10px;
	font-size: 20px;
}

.thumb3
{
	text-align: center;
	background-size: cover;
	background-image: url(img/Hello.jpg);
	height: 250px;
	color: #fff;
}
.thumb1 h2{
	padding-top: 5px;
	

.thumb3 p
{
	padding-top: 10px;
	font-size: 20px;
}
/*Thumbsnail formatting ends here*/

.news-section
{
	padding-top: 80px;
}


.quicklinks ul li a
{
	padding-top: 15px;
	padding-left: 15px;
	color: #333;
	text-decoration: none;

}

.quicklinks ul li
{
	list-style-type: none;
	display: inline;
}

footer
{
	bottom: 0;
	padding-top: 20px;
	height: 80px;
/*	background-color: #808080;*/
	color: #333;
}

/*Social buttons styling here*/
.socialbuttons a img
{
	height: 25px;
	width: 25px;
}