/*This part handles the navigation section*/
.nav
{
	background: #fff;
	box-shadow:0 1px 6px rgba(0,0,0,0.35);
	left:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:100;
	opacity: 0.8;
}


/*Responsive nav add-on*/

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Float the list items side by side */

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/*Responsive nav add-on*/
/*.nav ul
{

	padding: 20px;
}*/

.motto
{
	color: #333;
}

.header-links
{
	list-style-type: none;
	text-transform: uppercase;
	display: inline;
	color: #333;
	font-size: 15px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.header-links li
{
	float: right;
	display: inline;
	padding: 10px;
	color: #333;
}

.header-links li a
{
	color: #333;
	text-decoration: none;
}

.header-logo
{
	font-size: 30px;
	font-family: 'Open Sans Condensed', sans-serif;
	list-style-type: none;
	color: #333;
}

.header-logo a
{
	color: #fff;
	text-decoration: none;
}

.header-logo a:hover
{
	text-decoration: none;
	color: #fff;
}

/*Navigation styling ends here*/

/*Main Jumbotron Styling starts here*/
.jumbotron{
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}
#jumbo1
{
	text-align: center;
	background-image: url(img/Photo3.jpg) ;
	font-family: sans-serif;
	color: #333;
	font-family: 'Harmattan', sans-serif;
	max-width: 100%; 
    height: auto;
    height: 600px;
    /*font-size: 16px;*/
    font-size: 4vw;
    max-width: 100%;
}
#jumbo1 h1
{
	padding-top: 10px;
	font-family: 'Harmattan', sans-serif;
	font-size: 4vw;
}

#jumbo p
{
	font-size: calc(3vw + 3vh);
}
/*#jumbo1:hover
{
	background-size: cover;
	background-image: url(img/lend1.jpg) ;
	color: #fff;
	transition: all .5s ease-in;
}*/

.getapp
{
	border-radius: 8px;
	border: 2px bold #AA0C0C;
	color: #fff;
	text-transform: uppercase;
	font-size: 30px;
	font-family: 'Open Sans Condensed', sans-serif;
	padding-top: 20px;
	border-color: #AA0C0C
}

.getapp a 
{
	color: #fff;
  	padding: 8px 18px;
  	text-decoration: none;
  	border: 1px solid #fff;
	font-family: 'Open Sans Condensed', sans-serif;
}

.getapp a:hover 
{
	text-decoration: none;
	color: #fff;
  	position: relative;
  	bottom: 2px;
  	font-family: 'Open Sans Condensed', sans-serif;
}
/*Main Jumbotron styling ends here*/

.ourquote
{
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	font-style: italic;
	color: #333;
}

/*This part handles the middle thumbnails*/
.middlethumb
{
	color: #fff;
	text-align: center;
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.lg-how-work-bg h3
{
	color: #333;
}

.lg-how-work-bg p
{
	color: #333;
}
/*The middle thumbnails styling ends here*/

/*This subsection is for the explanatory jumbotron*/
#jumbo2
{
	background-image: url(img/Hello.jpg) ;
	height: 500px;
	font-family: sans-serif;
	color: #fff;
}

#jumbo3
{
	background-image: url(img/secure.jpg) ;
	height: 500px;
	font-family: sans-serif;
	color: #fff;
}

#jumbo4
{
	background-image: url(img/fast.jpg)  ;
	height: 500px;
	font-family: sans-serif;
	color: #fff;
}
#jumbo4:hover{
	opacity: 0%;

}

#jumbotext
{
	font-family:sans-serif;
	padding-top: 90px;
	padding-bottom: 50px;
	font-size: 17px;
	text-align: center;
}

#jumbotext h1
{
	font-size: 60px;
	font-family: 'Open Sans Condensed', sans-serif;
}

#jumbotext1
{
	float: right;
	color: #fff;
}

#jumbotext1 p
{
	font-size: 20px;
	color: #fff;

}

#jumbotext2
{
	float: left;
}
.jumbotext2 p
{
	font-size: 20px;
}
#jumbotext3
{
	color: #fff;
	font-size: 20px;
}
/*Explanatory jumbotron styling ends here ends*/

.news-section
{
	padding-top: 80px;
	font-family: 'Open Sans Condensed', sans-serif;
}



/*FAQ section styling is here*/
.faqjumbo
{
	background-size: 100% 100%;
	-moz-background-size:100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-image: url(img/FAQ.jpg);
	height: 500px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
}

.faqjumbo h1
{
	padding-top: 80px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.aboutjumbo
{
	
	background-image: url(img/About.jpg) ;
	background-size: 100% 100%;
	-moz-background-size:100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	height: 500px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
}

.aboutexp
{
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
}

.aboutexp p
{
	font-size: 20px;
}

.qna
{
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

/*FAQ section styling is here*/

/*About Us section styling here*/
.aboutcontent
{
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
}
/*About us styling ends here*/

/*News section styling begins here*/
.newsheadline
{
	font-family: cursive;
	text-transform: uppercase;
	color: #fff;
}

.newsprev
{
	font-size: 30px;
}
/*News section styling ends here*/

/*Contact us styling here*/
.contacthead
{
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
}

.contactform
{
	font-family: 'Open Sans Condensed', sans-serif;
}

.nametext
{
	border: 2px bold #ccc;
	color: #fff;
	font-size: 20px;
}

.contactform p
{
	font-size: 20px;
}

.contactcontent
{
	width: 300px;
    height: 150px;
}
/*Contact Us styling ends here*/

/*Footer section start here*/
footer
{
	text-align: center;
/*	background-color: #808080;*/
	background: #fff;
	box-shadow: 0 1px 6px rgba(0,0,0,0.35);
	width: 100%;
	z-index: 100;
	bottom: 0;
	position: fixed;
	opacity: 0.8;
	height: 90px;
}
/*Footer styling ends here*/

/*Social buttons styling starts here*/

.socialbuttons
{
	list-style-type: none;
	display: inline;
	font-family: 'Open Sans Condensed', sans-serif;
}

.socialbuttons a img
{
	height: 25px;
	width: 25px;
}
/*Social buttons styling ends here*/

/*This part handles the quicklinks in the footer*/
.quicklinks
{
	padding-top: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-decoration: none;
}

.quicklinks a
{
	padding-right: 15px;
	color: #333;
	text-decoration: none;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 15px;

}

.quicklinks a:hover
{
	color: #333;
	text-decoration: none;
	font-family: 'Open Sans Condensed', sans-serif;
}

.quicklinks
{
	text-decoration: none;
	color: #333;
	list-style-type: none;
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif;
}
/*This is where the quicklinks styling ends*/

/* JQuery fullscreen slider */

body {
	background: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0;
	min-width: 320px;
	padding: 0;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 30px 0;
}

#allbtn {
	background: transparent;
	border: 1px solid #333;
	border-radius: 5px;
	color: #333;
	cursor: pointer;
	padding: 5px 10px;
	text-align: center;
}

#allbtnup {
	background: transparent;
	border: 1px solid #333;
	border-radius: 5px;
	color: #333;
	cursor: pointer;
	padding: 5px 10px;
	float: left;
	padding-bottom: 10px;
}

#allbtndown {
	background: transparent;
	border: 1px solid #333;
	border-radius: 5px;
	color: #333;
	cursor: pointer;
	padding: 5px 10px;
	float: left;
}

#allbtnnav
{
	background: transparent;
	border: 1px solid #25add8;
	border-radius: 5px;
	color: #25add8;
	cursor: pointer;
	padding: 5px 10px;
	text-align: center;
}

.scroll-off {
	overflow: hidden;
}

.scroll-on {
	overflow: scroll;
}

.page-frame {
	margin: 0 auto;
	max-width: 1024px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	overflow: scroll;

}

.page-frame h1
{
	color: #333;
	font-family: 'Open Sans Condensed', sans-serif;
}

.page-frame h3
{
	text-align: center;
	font-size: 40px;
	color: #333;
	font-family: 'Open Sans Condensed', sans-serif;
}

.learnbtn
{
	text-align: center;
}

.page-frame p
{
	font-size: 30px;
	padding-bottom: 40px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.demo-page-1,
.demo-page-2,
.demo-page-3 {
	color: #fff;
	
}

.demo-page-1 {
	/*background-color: #00a75f;*/
	background-color: #fff;
	background-size: cover;
	font-family: 'Open Sans Condensed', sans-serif;
}

.demo-page-2 {
	/*background-color: #A2BCF8;*/
	background-color: #25add8;
	font-family: 'Open Sans Condensed', sans-serif;
}

.secsect
{
	padding-top: 50px;
}

.secsect span
{
	font-size: 30px;
	color: #333;
}
#dirsym
{
	color: #333;
	float: left;
}

.demo-page-3 {
/*	background-color: #b6393b;*/
	background-color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
}

.demo-page-4
{
	background-color: #25add8; 
}

.carouselimg4
{
	background-size: 100% 100%;
	-moz-background-size:100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}

.btnblue
{
	border-color: #25add8;
	background-color: #25add8;
}

.btnblue div
{

	color: #fff;
}
/* JQuery fullscreen slider */
