{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<!--Site & color scheme all done by Musa Farouk Ikhade 08140719844 musaikhade@outlook.com -->
  <title>
      {% block title %}{% endblock title %}
  </title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}"/>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext'
                  rel='stylesheet' type='text/css'>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->

<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic|Lato:400,300italic|Felipa|Alegreya+Sans:100,400,900italic|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>


<div class="nav"><!--Navigation Section Starts Here-->
<div class="container"><!--Header Container starts here-->
    <ul class="pull-left">
      <li><a href="#"><img src="{% static 'img/favicon1.png' %}" width="80" height="48.5"></a></li>
    </ul>
    <ul class="pull-right">
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Sign Up</a></li>
      <li><a href="#">Log In</a></li>
    </ul>
</div><!-- Header Container ends here-->    
</div><!--Navigation Section Ends Here-->

<br><br>
{% block content %}
{% endblock content %}
<hr>

<!--This part of the html page works on the footer-->
<footer>
<div class="container">
<div class="pull-left">
  <div class="quicklinks">
    <ul>
      <li>&copy; 2016 LiteMoney Inc.</li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="{% url 'news_list'%}">News</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </div>
</div>

<div class="pull-right">
<div class="socialbuttons">
  <a href="facebook.com/LiteMoneyIO"><img src="{% static 'img/facebook.png'%}"></a>
  <a href="https://twitter.com/LiteMoneyIO"><img src="{% static 'img/twitter.png' %}"></a>
  <a href="https://instagram.com/LiteMoneyIO"><img src="{% static 'img/instagram.png'%}"></a>
  <a href="#"><img src="{% static 'img/nigeria.jpg' %}"></a>
</div>
</div>

</div>
</footer>
<!--This part of the html page works on the footer-->

</body>
</html>
