{% load staticfiles %}
<!DOCTYPE html>
<html class="fsvs" lang="en">
<head>
<!--Site & color scheme all done by Musa Farouk Ikhade 08140719844 musaikhade@outlook.com -->
  <title>
      {% block title %}{% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="theme-color" content="#ffffff">

{% block link %}{% endblock link %}

  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
 
<!--Bootstrap and other cdn links starts here-->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext'
                  rel='stylesheet' type='text/css'>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic|Lato:400,300italic|Felipa|Alegreya+Sans:100,400,900italic|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
   <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<!--Bootstrap and other cdn links ends here-->

<!--Favicon and metadata section starts here-->
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<!--Favicon and metadata section ends here-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

 
</head>
<body>


<!--Navigation Section Starts Here-->
<div class="nav" id="myTopNav">
<div class="container"><!--Header Container starts here-->
    <ul class="pull-left">
      <div class="header-logo"><a href="{% url 'home' %}"><img height="40px" src="{%static 'img/hlogo.png' %}"></a></div>
    </ul>
    <ul class="topnav" id="myTopnav">
    <div class="header-links">
      <li><a href="{% url 'FQAs' %}">FAQ</a></li>
      <li><a href="#"><button id="allbtnnav">Coming Soon</button></a></li>
      <li class="icon"><a href="javascript:void(0);" onclick="myFunction()">&#9776;</a></li>
    </div>
    </ul>
</div><!-- Header Container ends here-->
</div><!--Navigation Section Ends Here-->

<br><br>
{% block content %}



{% endblock content %}


<!--This part of the html page works on the footer-->
<footer>

<div class="container">
  <ul>
    <li class="quicklinks"><p>&copy; 2016 LiteMoney Inc</p></li>
    <li class="quicklinks"><a href="#">Terms of Use</a></li>
    <li class="quicklinks"><a href="{% url 'news_list' %}">News</a></li>
    <li class="quicklinks"><a href="/contact/">Contact US</a></li>
    <li class="quicklinks"><a href="{% url 'about' %}">About</a></li>
    <li class="socialbuttons"><a href="#"><img src="{% static 'img/facebook.png' %}"></a></li>
    <li class="socialbuttons"><a href="http://twitter.com/LiteMoneyIO"><img src="{% static 'img/twitter.png' %}"></a></li>
    <li class="socialbuttons"><a href="http://instagram.com/LiteMoneyIO"><img src="{% static 'img/instagram.png' %}"></a></li>
    <li class="socialbuttons"><a href="#"><img src="{% static 'img/nigeria.jpg' %}"></a></li>
  </ul>
</div>
</footer>
<!--This part of the html page works on the footer-->

</body>
</html>