{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
	Welcome to Litemoney
 {% endblock title  %}
{% block content %}
<!--This part handles the jumbotron-->
	<div class="jumbo1">
	<div class="container">
		<div class="jumbotext">
		<h1>Welcome to LiteMoney</h1>
		<p>The most resilent way to handle your finance</p>
		<div class="joinbtn"><a>JOIN NOW</a>
        </div>
				<div class="joinbtn"><a> Login </a>
						</div>
		</div>
	</div>
	</div>
<!--The jumbotron handler ends here-->
<br><br>

<!--The How it works section starts here-->

<!--The thumbnail section starts-->

<div class="middlethumb">

<div class="container">
<div class="row">
<div class="col-xs-12">
<h2>How It Works</h2>
<h3>LiteMoney makes it easy to handle funds. It's easy, secure and fast</h3>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-4">
<div class="lg-how-work-bg">
<div class="lg-how-work-img"></div>
<h3>Deposit</h3>
Registered user can deposit money online with their debit/credit card.

</div>
</div>
<div class="col-xs-12 col-sm-4">
<div class="lg-how-work-bg">
<div class="lg-how-work-img pick"></div>
<h3>Send/Receive </h3>
LiteMoney users can send money and also receive from other users.

</div>
</div>
<div class="col-xs-12 col-sm-4">
<div class="lg-how-work-bg">
<div class="lg-how-work-img save"></div>
<h3>Withdraw</h3>
Users are able to withdraw money directly to their bank account within 24hrs.with a 1% redrawer fee(maximum of &#8358;2000.00) .

</div>
</div>
</div>
</div>
</div><!--The thumbnail section handler ends-->
<br>
<br>
<!--We are about to expose the use to an indebt scope of LitemOney-->
<div class="jumbo2">
  <div class="container">
    <div class="jumbotext1">
    <h1>Pay Bills</h1>
    <p>By signing up to this platform you automatically have the ability to pay bills conveniently. And it is all made easy and secure.</p>
    </div>
  </div>
</div>
<div class="jumbo3">
  <div class="container">
    <div class="jumbotext2">
    <h1>You get to use our dedicated currency within the system.</h1>
    <p>When you have successfully registered on the platform you get to buy LM units. which you can transfer to fellow LM users and also used to purchase items from our affilates website.</p>
    </div>
  </div>
</div>
<div class="jumbo4">
  <div class="container">
    <div class="jumbotext3">
    <h1>Easy & secure channel of transfer within the system</h1>
    <p>You enjoy the luxury of transfering funds within the system to friends and family with LM account instantly. Transfers are secured.</p>
    </div>
  </div>
</div>
<!--The explanatory section ends here-->

{% endblock content %}
