{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
	Welcome to Litemoney
 {% endblock title  %}
 {% block content %}
<br>
<br>
<div id="demo" class="page">
    <div class="page-section demo-page-1">
      <div class="page-frame">
      
          <img width="128" height="128" src="{% static 'img/noun_106255.svg' %}"><br>
          <span class="motto">Motto: More than what you think.</span>   
          <h3>Our purpose is to help you get money across the world to friends, relatives and aquaintances with ease.</h3>
          <p class="ourquote">"The future of mobile is the future of everything." - Matt Galligan SimpleGeo</p>
          <p>
            <button type="button" class="js-slide-down" id="allbtn">How it works</button>
          </p>
        </div>
      </div>
      <div class="page-section demo-page-2">
        <div class="page-frame">
          <p>
            <button type="button" class="js-slide-up" id="appbtnup"><div id="dirsym" class="btnblue"><div>/\</div></div></button>
          </p>
        <div class="secsect">
        <div class="row">
          <div class="col-md-6">
          <h2>CREATE AN ACCOUNT</h2>
            <p class="pull-left">Create an account and provide the necessary credentials. You can also link your contacts from Facebook</p>
          </div>
          <div class="col-md-6">
            <img class="pull-right" src="{% static 'img/iphonehalf.png' %}">
          </div>
          </div>
        </div>
          <p>
            <button type="button" class="js-slide-down" ><div id="dirsym" class="btnblue"><div>\/</div></div></button>
          </p>
        </div>
      </div>
      <div class="page-section demo-page-3">
        <div class="page-frame">
          <p>
            <button type="button" class="js-slide-up" id="appbtnup"><div id="dirsym" style="background-color: #fff;">/\</div></button>
          </p>
          <div class="secsect">
        <div class="row">
          <div class="col-md-6">
          <h2 style="color: #333;">Link a card to your account.</h2>
            <span class="pull-right">Add a debit/credit card with your account. It's so easy all you have to do is take the picture of the card.</span>
          </div>
          <div class="col-md-6">
            <img class="pull-left" src="{% static 'img/ipadandiphone1.png' %}">
          </div>
          </div>
        </div>
          <p>
            <button type="button" class="js-slide-down" ><div id="dirsym" style="background-color: #fff;">\/</div></button>
          </p>
        </div>
      </div>
      <div class="page-section demo-page-4">
        <div class="page-frame">
          <p>
            <button type="button" class="js-slide-up" id="appbtnup"><div id="dirsym" class="btnblue">/\</div></button>
          </p>
          <div class="secsect">
        <div class="row">
          <div class="col-md-6">
          <h2>Try LiteMoney for business</h2>
            <span class="pull-right">Our platform can also be used for small and large scale business. With LiteMoney for business you can use your phone as a point of sale device.</span>
            <button id="allbtn">Learn More</button>
          </div>
          <div class="col-md-6">
            <img style="padding-bottom: 20px;" class="carouselimg4" class="pull-left" src="{% static 'img/fast1.jpg' %}">
            <p></p>
          </div>
          </div>
        </div>
        </div>
      </div>
    </div>   
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

{% endblock content %}
