{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Welcome to lightmoney
 {% endblock title  %}

{% block content %}


<!--This part handles the jumbotron-->
	<div class="jumbo1">
	<div class="container">
		<div class="jumbotext">
		<h1>Welcome to LiteMoney</h1>
		<p>The most resilent way to handle your finance</p>
		<div class="joinbtn"><a>JOIN NOW</a>
        </div>
				<div class="joinbtn"><a> Login </a>
						</div>
		</div>
	</div>
	</div>
<!--The jumbotron handler ends here-->
<br><br>

<!--This section handles the outliining of features-->

<div class="row">
<div class="container">

  	<div class="col-md-4">
  	<div class="thumb1">
  		<h2>Wallet</h2>
  		<p>We store your currency in LMu(liteMoney unit) that you can use to
				transfer money to user within n ouside the community.user also have LMC(liteMoney credit) that increase your shoping ability</p>
  	</div>
  	</div>

  	<div class="col-md-4">
  	<div class="thumb2">
  		<h2>Virtual Currency</h2>
  		<p>LMu is a digital currency that you,that you can use with the community .</p>
  	</div>
  	</div>


  	<div class="col-md-4">
  	  	<div class="thumb3">
  		<h2>Easy and Fast</h2>
  		<p>LMu make it easy and fast to share VC(virtual currency) with freinds ,family and bisuness paterns .</p>
  	</div>
  	</div>
</div>
</div>

<!--The Features outlining section ends here-->


{% endblock content %}
